main.document {
  padding: 1rem 20%;

  ul,
  p,
  ol {
    margin-block: 1rem;
    text-align: justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 2rem;
  }

  h1 {
    text-align: center;
  }
}
